Source: libewf
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libewf/

Package: libewf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to support the Expert Witness Compression Format (EWF)
 libewf is a library to support the Expert Witness Compression Format (EWF).
 libewf allows you to read media information of EWF files in the SMART (EWF-S01)
 format and the EnCase (EWF-E01, EWF-L01, EWF2-Ex01 and EWF2-Lx01) formats.
 Supports files created by EnCase 1 to 7, linen 5 to 7 and FTK Imager.

Package: libewf-dev
Section: libdevel
Architecture: any
Depends: libewf (= ${Source-Version})
Description: Header files and libraries for developing applications for libewf
 Header files and libraries for developing applications for libewf.

Package: libewf-tools
Section: utils
Architecture: any
Depends: libewf (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading and writing EWF files
 Several tools for reading and writing EWF files.

Package: libewf-python
Section: python
Architecture: any
Depends: libewf (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libewf
 Python bindings for libewf.

