Source: libewf
Priority: extra
Maintainer: Joachim Metz <forensics@hoffmannbv.nl>
Build-Depends: debhelper (>= 5), autotools-dev, libc6, libc6-dev, linux-kernel-headers, zlib1g-dev, libssl-dev, uuid-dev
Standards-Version: 3.7.2
Section: libs

Package: libewf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library and tools to support the Expert Witness Compression Format
 libewf is library for support of the Expert Witness Compression Format (EWF).
 libewf allows you to read media information of EWF files in the SMART (EWF-S01)
 format and the EnCase (EWF-E01) format. libewf allows to read files created by
 EnCase 1 to 6, linen and FTK Imager.

Package: libewf-dev
Section: libdevel
Architecture: any
Depends: libewf (= ${Source-Version})
Description: Header files and libraries for developing applications for libewf
 Header files and libraries for developing applications for libewf.

Package: libewf-tools
Section: utils
Architecture: any
Depends: libewf (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading and writing EWF files
 Several tools for reading and writing EWF files.
 It contains tools to acquire, verify and export EWF files.

